.cart {
    width: 400px;
}

.cart-item {
    display: flex;
    align-items: center;
}

.cart-item div:first-child {
    width: 150px;
    margin-right: 50px;
}

.cart-item div:last-child {
    margin-left: 50px;
}
