.reviews {
  margin: 12px;
  padding: 12px;
  background-color: rgb(238, 238, 238);
  border: 1px solid #ddd;
  border-radius: 12px;
}

.card {
  margin: 12px;
  padding: 12px;
  background-color: rgb(238, 238, 238);
  border: 1px solid #ddd;
  border-radius: 12px;
}
