.list {
  height: auto;
  text-align: center;
  padding: 6px;
  display: flex;
  justify-content: space-between;

}

.list span {
  cursor: pointer;
}

.restaurant {
  padding: 6px 12px;
}
.basket {
  border: 1px solid white;
}
