.card {
  margin: 12px;
  padding: 12px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.icon path {
  fill: blueviolet;
}

.star {
  fill: blueviolet;
  width: 20px;
  height: 20px;
}

.emptyStar {
  width: 20px;
  height: 20px;
}